Importing the required libraries

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
import seaborn as sns
from sklearn.model_selection import train_test_split

Converting Categorical variables to numerical values

In [6]:
df=pd.read_excel("input.xlsx")
df=pd.get_dummies(df)
df=df.astype(float)

In [7]:
df.head()

,budget,age_min,age_max,zips,approximate_count,character_count_body,prev_1_cost_per_click,prev_2_cost_per_click,prev_3_cost_per_click,prev_1_clicks,...,age_range_0.0-0.0,age_range_18.0-34.0,age_range_18.0-35.0,age_range_18.0-54.0,age_range_25.0-35.0,age_range_25.0-54.0,age_range_25.0-55.0,age_range_30.0-60.0,age_range_36.0-45.0,age_range_46.0-55.0
0,27.777778,18.0,35.0,0.0,0.0,139.0,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,27.777778,18.0,35.0,0.0,0.0,139.0,0.456667,0.000000,0.000000,3.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,27.777778,18.0,35.0,0.0,0.0,139.0,1.370000,0.456667,0.000000,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,27.777778,18.0,35.0,0.0,0.0,139.0,0.685000,1.370000,0.456667,2.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,27.777778,18.0,35.0,0.0,0.0,139.0,0.700000,0.685000,1.370000,2.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
Y=df["cost_per_click"]
X=df.drop("cost_per_click",axis=1)
X=preprocessing.scale(X)

In [ ]:
Splitting the Data into train/test ratio of 60/40

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.4, random_state=42)

Building a Neural Network model for the data

In [11]:
model = Sequential()
model.add(Dense(68, input_dim=68, activation='sigmoid'))
model.add(Dense(8, activation='tanh'))
model.add(Dense(1, activation='relu'))
model.compile(loss='mean_squared_error', optimizer='adam')

Fitting the model on training data

In [12]:
model.fit(X_train, y_train, epochs=20, batch_size=50)

Epoch 1/20
1099/1099 [==============================] - 5s - loss: 8.1798
Epoch 2/20
1099/1099 [==============================] - 0s - loss: 6.3698
Epoch 3/20
1099/1099 [==============================] - 0s - loss: 6.0735
Epoch 4/20
1099/1099 [==============================] - 0s - loss: 5.8867
Epoch 5/20
1099/1099 [==============================] - 0s - loss: 5.7505
Epoch 6/20
1099/1099 [==============================] - 0s - loss: 5.6518
Epoch 7/20
1099/1099 [==============================] - 0s - loss: 5.5747
Epoch 8/20
1099/1099 [==============================] - 0s - loss: 5.5212
Epoch 9/20
1099/1099 [==============================] - 0s - loss: 5.4704
Epoch 10/20
1099/1099 [==============================] - 0s - loss: 5.4448
Epoch 11/20
1099/1099 [==============================] - 0s - loss: 5.4214
Epoch 12/20
1099/1099 [==============================] - 0s - loss: 5.3957
Epoch 13/20
1099/1099 [==============================] - 0s - loss: 5.3687
Epoch 14/20
1099/1099 [==============================] - 0s - loss: 5.3515
Epoch 15/20
1099/1099 [==============================] - 0s - loss: 5.3412
Epoch 16/20
1099/1099 [==============================] - 0s - loss: 5.3270
Epoch 17/20
1099/1099 [==============================] - 0s - loss: 5.3150
Epoch 18/20
1099/1099 [==============================] - 0s - loss: 5.3009
Epoch 19/20
1099/1099 [==============================] - 0s - loss: 5.2713
Epoch 20/20
1099/1099 [==============================] - 0s - loss: 5.2604

Evaluting the model on test data

In [13]:
score = model.evaluate(X_test, y_test, batch_size=50)

 50/734 [=>............................] - ETA: 2s

Mean Square error

In [14]:
score

7.2678245250795452